.workspaces {
  background-color: $on_secondary;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 0.5rem;
}

.workspace {
    background-color: $inverse_primary;
    border-radius: 1rem;
    margin: 0 0.25rem;
    padding: 0 0.8rem;
    transition: 0.3s;

    &.current {
        background-color: $primary;
        padding: 0 1.5rem;
    }
}

.workspace:hover {
    background-color: mix($inverse_primary, $surface, 70%);
    &.current {
        background-color: mix($primary, $surface, 70%);
    }
}
